@keyframes show-desktop {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes checked {
    0% {
        transform: rotateZ(100deg);
    }
    50% {
        transform: rotateZ(-50deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}