$colors: $primary, $secondary, $tertiary, $primary, $secondary;
$max: length($colors);
$dash: 70;
$dash-gap: 10;
$dash-space: $dash * ($max - 1) + $dash-gap * $max;
$time: 6s;
$time-step: $time/$max;

.text {
  fill: none;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-dasharray: $dash $dash-space;
  stroke-dashoffset: 0;
  -webkit-animation: stroke $time infinite linear;
  animation: stroke $time infinite linear;
  
  @for $item from 1 through $max {
    &:nth-child(#{$max}n + #{$item}) {
      $color: nth($colors, $item);
      stroke: $color;
      -webkit-animation-delay: -($time-step * $item);
      animation-delay: -($time-step * $item);
    }
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -($dash + $dash-gap) * $max;
  }
}

.page-preloader {
  font-size: 1em;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $bg-white;
  animation: loader 1 forwards;
  animation-duration: 2s;
  z-index: 9999;
  #preloader {
      position: absolute;
      width: 100%;
      height: 100%;
    }
}

@media screen and (max-width: $tablet) {
  .page-preloader {
    font-size: 2.5em;
  }
}

@media screen and (max-width: $phone) {
    .page-preloader {
      font-size: 4em;
    }
}
