@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background: $bg-white;
}

main {
    padding: 4em 0 0 0;
}

h2 {
    color: $font-black;
    font-size: 30px;
}