body {
    font-family: 'Roboto', sans-serif;
    color: $font-black;
    font-size: 2rem;
    font-weight: 400;
    list-style: none;
}

h1 {
    font-family: 'Shrikhand', cursive;
    font-weight: 900;
    font-size: 5rem;
}

a {
    text-decoration: none;
}

header {
    a {
        &:last-child {
            animation: rotate-grad 20s infinite linear;
            background-image: linear-gradient(45deg, $primary, $secondary);
            background-size: 100%;
            background-repeat: repeat;
            font-family: 'Shrikhand', cursive;
            font-size: 3.5rem;
            height: fit-content;
            padding-left: .1em;
            padding-right: .1em;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
        }
    }
}