.footer {
    background-color: $bg-grey-black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2em 2em 2em 2em;

    &-img {
        max-width: 100%;
        width: 100%;
    }

    &-link {
        color: $font-white;

        i {
            margin-right: .5em;
        }
    }
}