.footer {
    align-items: center;
    background-color: $bg-grey-black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2em 2em 2em 2em;

    &-link {
        background: linear-gradient(
            to top,
            $secondary 0%,
            $secondary 10%,
            transparent 10.01%
        )
        no-repeat center bottom / 0 100%;
        color: $font-white;
        height: 1.5em;
        transition: all .3s ease-in-out;

        i {
            margin-right: .5em;
        }
        &:hover {
            background-size: 50% 100%;
        }
    }
}

// Responsive

@media screen and (max-width: $tablet) {

    .footer {
        &-link {
            &-svg {
                width: 100%;
                max-width: 100%;
            }
        }
        svg {
            margin: 0 0 1em 0;
        }
    }
}

@media screen and (max-width: $phone) {

    .footer {
        align-items: flex-start;
        flex-direction: column;
    }
}