.footer {
    background-color: $bg-grey-black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2em 2em 2em 2em;

    &-img {
        max-width: 100%;
        width: 100%;
    }

    &-link {
        background: linear-gradient(
            to top,
            $secondary 0%,
            $secondary 10%,
            transparent 10.01%
        )
        no-repeat center bottom / 0 100%;
        color: $font-white;
        height: 1.5em;
        transition: all .3s ease-in-out;

        i {
            margin-right: .5em;
        }
        &:hover {
            background-size: 50% 100%;
        }
    }
}