.header {
    background-color: $bg-white;
    box-shadow: 0 0 10px $bg-grey;
    display: flex;
    height: 4em;
    justify-content: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    z-index: 800;

    i {
        color: $font-black;
        left: 2em;
        position: absolute;
        top: 1.5em;
        transition: all .2s ease-in-out;

        &::after {
            bottom: -.5em;
            color: $primary;
            content: "Retourner à l'accueil";
            font-family: 'Roboto';
            left: 1.5em;
            opacity: 0;
            position: absolute;
            visibility: hidden;
            transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
        }
        
        &:hover {
            color: $primary;
            transform: scale(1.1);

            &::after {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}